[tig]
	tab-size = 4
	ignore-space = all
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
[user]
	email = laurent@cozic.net
	name = Laurent Cozic
[push]
	default = simple
[core]
	editor = vim -f
	compression = 9
	filemode = false
	autocrlf = input
	safecrlf = false
	excludesfile = ~/.gitignore_global
[credential]
	helper = cache --timeout=2419200
[merge]
	tool = bc3
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "bc3"]
	cmd = /mnt/d/Programmes/BeyondCompare/BComp.exe "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
