[tig]
	tab-size = 4
	ignore-space = all
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[user]
	email = laurent@cozic.net
	name = Laurent Cozic
[push]
	default = simple
[core]
	editor = vim -f
	compression = 9
	filemode = false
	autocrlf = true
[credential]
	helper = cache --timeout=2419200
[mergetool]
	keepBackup = false
