QtCreator.db
qtcreator/.helpcollection/
qtcreator/cmaketools.xml
qtcreator/debuggers.xml
qtcreator/default.qws
qtcreator/devices.xml
qtcreator/helpcollection.qhc
qtcreator/profiles.xml
qtcreator/qbs
qtcreator/qtversion.xml
qtcreator/ssh-hostkeys
qtcreator/toolchains.xml