Packages/*
!Packages/User
*.cache
*.last-run
*.pyc
Backup/
Cache/
Index/
Installed Packages/
KEEPME
Local/
Packages/bz2
Packages/ColorPicker
Packages/Pretty JSON/
Packages/ssl-linux
Packages/URLEncode/
Packages/Babel/
Packages/User/Xdebug.breakpoints
Packages/User/Xdebug.log
Packages/python-markdown
Packages/python-jinja2
Packages/pygments
Packages/mdpopups
Packages/markupsafe
Packages/User/Package Control.*-ca-bundle
Packages/User/oscrypto-ca-bundle.crt